<div class="c-speaker">
  <div class="c-speaker__media">
    <a href="c-speaker__link"><img src="images/{{#if speaker-image}}{{speaker-image}}{{else}}chris-coyier.jpeg{{/if}}" class="c-speaker__headshot" alt="{{#if speaker-name}}{{speaker-name}}{{else}}Chris Coyier{{/if}} Headshot"></a>
  </div>
  <div class="c-speaker__body">
    <h3 class="c-speaker__name">{{#if speaker-name}}{{speaker-name}}{{else}}Chris Coyier{{/if}}</h3>
    <p class="c-speaker__byline">{{#if speaker-title}}{{speaker-title}}{{else}}Featured Speaker{{/if}}</p>
  </div>
</div>
